.login-container2 {
  background-image: url('../public/images/plain-bg.png');
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.logo{
  max-width: 137px;
}
/* .fani {
  background-image: url('../public/images/vector.png');
} */

/********  START Background Characters Responsiveness */
@media screen and (max-width:500px) {
  .bg_custom_style {
    max-width: 95% !important;
    top:260px;
    /* z-index: 1; */
  }
}
@media screen and (max-width:800px) {
  .bg_custom_style {
    max-width: 90% !important;
    top: 250px;
    /* z-index: 1; */
  }
}
@media only screen and (min-width : 1025px) {
  .bg_custom_style {
    max-width: 90% !important;
    top: 0;
    /* z-index: 1; */
  }
}
/********  END Background Characters Responsiveness */

/********  START Login Container style */
.login_container{
  min-width: 488px;
  min-height: 380px;
  border: 2px solid #002356;
  background-color: #002356;
  z-index: 2;
  position: fixed;
  margin:0 auto !important;
  /* position: fixed; */
}
